/* General */
@import url(//fonts.googleapis.com/css?family=Gudea:400,400italic,700);

* {
    font-family: inherit;
    font-size: inherit;
}

body {
    background-color: #ccc;
    font-family: 'Gudea', sans-serif;
    font-size: 14px;
}

input, select, button, textarea {
    background-color: #cdf;
    color: #000;
    border: 1px solid black;
}

textarea {
    resize: vertical;
}

li {
    padding-bottom: 5px;
    padding-top: 5px;
}

.note, .logout {
    font-size: 11px;
}

.pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #11e;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 15px;
}

table {
    border-collapse: collapse;
}


/* Login */
.login-container-1 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
}
.login-container-2 {
    display: table-cell;
    vertical-align: middle;
}

.login {
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: auto;
    display: block;
    background-color: #fff;
    border: 1px solid black;
}

.login-input-container {
    height: 40px;
}

.login form {
    margin-left: 20px;
}

.login select {
    width: 150px;
}

input.login-input {
    width: 200px;
}

img.login-logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
}


/* Main */
div.section {
    position: relative;
    max-width: 1000px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid black;
}

div.subsection {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border: 1px solid black;
}

div.message {
    position: absolute;
    right: 18px;
    top: 18px;
}

.logout {
    position: absolute;
    right: 15px;
    bottom: 10px;
}

.reset-button {
    background-color: #faa;
    cursor: pointer;
}

.save-button {
    background-color: #cfc;
    cursor: pointer;
}

.delete-button {
    background-color: #999;
    cursor: pointer;
}

.disabled {
    background-color: #999;
}

.changed {
    background-color: #ffa;
}

.good {
    background-color: #dfe;
}

.error {
    background-color: #fde;
}

.header {
    background-color: #fff;
}

.address {
    margin-left: 30px;
}

.authorization-list-container {
    background-color: #eee;
    border: 1px solid black;
    padding: 15px;
    margin: auto;
    width: 600px;
}

table.authorization-list {
    width: 600px;
}

th.authorization-email {
    width: 300px;
}

th.authorization-status {
    width: 200px;
}

.authorization_warning {
    color: #f00;
}

.authorization-remove {
    padding-left: 10px;
}

table.reg_table {
    width: 100%;
    table-layout: fixed;
}

td.reg_label {
    width: 250px;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

table.reg_subtable, table.res_table, table.pmt_table, table.guest_list {
    margin-top: 10px;
    margin-bottom: 10px;
}

table.res_table, table.pmt_table, table.guest_list {
    margin-left: auto;
    margin-right: auto;
}

.reg_subtable td, td.res_room, td.res_bed, td.res_cost, td.res_day, td.res_cell, td.pmt_label,
td.pmt_value, td.guest_day, td.guest_name, td.guest_cell, td.meal_name, td.meal_choice,
td.meal_cell, td.meal_restrictions, td.meal_summary, td.meal_total, td.phone_table_name,
td.phone_table_phone {
    border: 1px solid black;
}

td.reg_night, td.reg_meal, td.reg_cost, td.res_room, td.res_bed, td.res_cost, td.res_day,
td.guest_day, td.guest_name, td.guest_cell {
    background-color: #eee;
}

td.reg_night {
    width: 192px;
    max-width: 192px;
}

td.reg_meal {
    width: 150px;
    max-width: 150px;
}

td.reg_cost, td.res_cost {
    width: 35px;
    max-width: 35px;
    text-align: right;
    padding-right: 5px;
}

td.reg_option {
    width: 60px;
    max-width: 60px;
    cursor: pointer;
}

td.res_room {
    width: 150px;
    max-width: 500px;
}

td.res_bed {
    width: 170px;
    max-width: 170px;
}

td.res_day {
    width: 90px;
    max-width: 90px;
}

td.res_cell {
    width: 90px;
    max-width: 90px;
    overflow: hidden;
    text-overflow: "";
    white-space: nowrap;
}

td.pmt_group {
    width: 70px;
    max-width: 70px;
}

td.pmt_label {
    width: 300px;
    max-width: 300px;
}

td.pmt_value {
    width: 70px;
    max-width: 70px;
    text-align: right;
}

td.guest_day {
    width: 75px;
    max-width: 75px;
    text-align: center;
}

td.guest_name {
    width: 120px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: "";
    white-space: nowrap;
}

td.guest_left {
    background-color: #6f9;
    background-image: linear-gradient(to right, #a9f, #6f9 80%);
}

td.guest_center {
    background-color: #6f9;
}

td.guest_right {
    background-color: #6f9;
    background-image: linear-gradient(to left, #a9f, #6f9 80%);
}

td.guest_none {
    background-color: #a9f;
}

.reg_input, .email {
    width: 100%;
}

.reg_maybe, .pmt_charge {
    background-color: #cdf;
}

.reg_yes, .pmt_credit {
    background-color: #6f9;
}

.reg_no {
    background-color: #a9f;
}

.res_unavailable {
    background-color: #666;
    cursor: default;
}

.res_taken {
    background-color: #a9f;
    cursor: default;
}

.res_available {
    background-color: #cdf;
    cursor: pointer;
}

.res_reserved {
    background-color: #6f9;
    cursor: pointer;
}

.res_changed {
    background-color: #ff8;
    cursor: pointer;
}

.pmt_due {
    background-color: #ff8;
}

.pmt_excess {
    background-color: #caf;
}

.pmt_zero {
    background-color: #eee;
}

div.pmt_subsection, div.payment_editor {
    background-color: #eee;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

input.money {
    width: 50px;
}

input.money:disabled {
    background-color: #eee;
    color: #eee;
    border: 1px dotted #aaa;
}

ul.independent_arrangements {
    list-style-type: none;
}


/* Admin */
.email_list {
    font-family: monospace;
    font-size: 10px;
    padding-left: 15px;
}

table.payment_records {
    margin-left: auto;
    margin-right: auto;
}

input.payment_input {
    width: 250px;
}

select.payment_select {
    width: 500px;
}

.payment_edit_warning {
    color: #f00;
}

.payment_left {
    display: inline-block;
    min-width: 75px;
}

.payment_okay {
    background-color: #eee;
}

.payment_error {
    background-color: #fbd;
}

.payment_editing {
    background-color: #ff8;
}

.payment_record {
    cursor: pointer;
}

.payment_record_date, .payment_record_desc {
    border: 1px solid black;
}

.payment_record_date {
    width: 100px;
    max-width: 100px;
}

.payment_record_desc {
    width: 500px;
    max-width: 500px;
}

.payment_record_desc p {
    margin-bottom: 2px;
    margin-top: 2px;
}

.admin_reg_table, .aid_table, .meals_table, .phone_table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.admin_reg_table td, .aid_table td {
    border: 1px solid black;
}

.admin_reg_name, .aid_name {
    width: 400px;
    max-width: 400px;
    background-color: #eee;
}

.admin_reg_nights {
    width: 60px;
    max-width: 60px;
}

.admin_reg_amt {
    width: 100px;
    max-width: 100px;
}

.admin_reg_res {
    background-color: #6f9;
}

.admin_reg_nores, .admin_reg_paid {
    background-color: #eee;
}

.admin_reg_due {
    text-align: right;
    background-color: #ff8;
}

.aid_amount {
    width: 90px;
    text-align: right;
}

.aid_contributing {
    background-color: #6f9;
}

.aid_requesting {
    background-color: #a9f;
}

.aid_none {
    background-color: #eee;
}

.aid_subparagraph {
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: 0px;
}

.meal_header_name {
    width: 55px;
    max-width: 55px;
    font-size: 10px;
}

.meal_name {
    width: 90px;
    max-width: 90px;
    background-color: #eee;
}

.meal_summary {
    font-weight: bold;
}

.meal_total {
    text-align: right;
    background-color: #eee;
}

.meal_restrictions {
    width: 150px;
    max-width: 150px;
    background-color: #eee;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.phone_table_name {
    width: 100px;
    max-width: 100px;
    background-color: #eee;
}

.phone_table_phone {
    width: 225px;
    max-width: 200px;
    background-color: #ff8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.phone_table_separator {
    width: 15px;
}

.personal_item {
    margin-left: 20px;
}
