/* General */
@import url(//fonts.googleapis.com/css?family=Gudea:400,400italic,700);

* {
    font-family: inherit;
    font-size: inherit;
}

body {
    background-color: #ccc;
    font-family: 'Gudea', sans-serif;
    font-size: 14px;
}

input, select, button, textarea, td {
    border: 1px solid black;
}

td.borderless {
    border: none;
}

textarea {
    resize: vertical;
}

li {
    padding-bottom: 5px;
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: #11e;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 15px;
}

table {
    border-collapse: collapse;
}

.pointer {
    cursor: pointer;
}


/* Standard cell types */
.cell_name_short, .cell_name {
    overflow: hidden;
    text-overflow: "";
    white-space: nowrap;
}

.cell_info_medium, .cell_info_wide, .cell_info_xwide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cell_name_short {
    width: 85px;
    max-width: 85px;
}

.cell_name {
    width: 100px;
    max-width: 100px;
}

.cell_label_short {
    width: 100px;
    max-width: 100px;
}

.cell_label_medium {
    width: 150px;
    max-width: 150px;
}

.cell_label_wide {
    width: 200px;
    max-width: 200px;
}

.cell_info_medium {
    width: 200px;
    max-width: 200px;
}

.cell_info_wide {
    width: 300px;
    max-width: 300px;
}

.cell_info_xwide {
    width: 400px;
    max-width: 400px;
}

.cell_value {
    width: 80px;
    max-width: 80px;
    text-align: right;
}

.cell_cost {
    width: 25px;
    max-width: 25px;
    text-align: right;
    padding-right: 3px;
}

.cell_label_medium_plus_cost {
    width: 180px;
    max-width: 180px;
}


/* Color scheme */
.bg_green {
    background-color: #6f9;
}

.bg_purple {
    background-color: #a9f;
}

.bg_yellow {
    background-color: #ff8;
}

.bg_red {
    background-color: #faa;
}

.bg_gray {
    background-color: #eee;
}

.bg_xdarkgray {
    background-color: #666;
}

.bg_slate, input, select, button, textarea {
    background-color: #cdf;
}

.bg_purple_green {
    background-color: #6f9;
    background-image: linear-gradient(to right, #a9f, #6f9 80%);
}

.bg_green_purple {
    background-color: #6f9;
    background-image: linear-gradient(to left, #a9f, #6f9 80%);
}

input, select, button, textarea {
    color: #000;
}

.color_red {
    color: #f00;
}


/* Misc, still to be cleaned up */
.note, .logout {
    font-size: 11px;
}

.login-container-1 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
}

.login-container-2 {
    display: table-cell;
    vertical-align: middle;
}

.login {
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: auto;
    display: block;
    border: 1px solid black;
}

.login-input-container {
    height: 40px;
}

.login form {
    margin-left: 20px;
}

.login select {
    width: 150px;
}

input.login-input {
    width: 200px;
}

.section, .header_section {
    position: relative;
    max-width: 1000px;
    border: 1px solid black;
}

.section {
    padding: 30px 10px 10px 10px;
    margin: 0px auto 0px auto;
}

.header_section {
    padding: 5px 10px 5px 10px;
    margin: 0px auto 0px auto;
}

.selector_section {
    width: 100%;
    max-width: 1020px;
    display: table;
    table-layout: fixed;
    padding: 0px;
    margin: 25px auto 10px auto;
}

.section_selector_container {
    display: table-cell;
}

.section_selector {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid black;
}

.section_selected {
    font-weight: bold;
    border: 2px solid black;
}

div.subsection {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border: 1px solid black;
}

.message {
    position: absolute;
    right: 18px;
    top: 18px;
    font-weight: bold;
}

.logout {
    position: absolute;
    right: 15px;
    bottom: 5px;
}

.save-button {
    background-color: #cfc;
    cursor: pointer;
}

.delete-button {
    background-color: #999;
    cursor: pointer;
}

.disabled {
    background-color: #999;
}

.changed {
    background-color: #ffa;
}

.good {
    background-color: #dfe;
}

.error {
    background-color: #fde;
}

.header {
    background-color: #fff;
}

.authorization-list-container {
    background-color: #eee;
    border: 1px solid black;
    padding: 15px;
    margin: auto;
    width: 600px;
}

table.authorization-list {
    width: 600px;
}

.reg_table {
    width: 100%;
    table-layout: fixed;
}

td.reg_label {
    width: 300px;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.res_table, .pmt_table, .guest_list, .payment_records, .admin_reg_table, .aid_table, .meals_table,
.phone_table {
    margin-left: auto;
    margin-right: auto;
}

.reg_subtable, .res_table, .pmt_table, .guest_list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.admin_reg_table, .aid_table, .meals_table, .phone_table, .payment_records {
    margin-bottom: 20px;
}

td.reg_option {
    width: 60px;
    max-width: 60px;
}

td.pmt_group {
    width: 70px;
    max-width: 70px;
}

td.guest_day {
    width: 95px;
    max-width: 95px;
    text-align: center;
}

.reg_input, .auth_input {
    width: 100%;
}

div.pmt_subsection, div.payment_editor {
    background-color: #eee;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

input.money {
    width: 50px;
}

input.money:disabled {
    background-color: #eee;
    color: #eee;
    border: 1px dotted #aaa;
}

.email_list {
    font-family: monospace;
    font-size: 10px;
    padding-left: 15px;
}

input.payment_input {
    width: 250px;
}

select.payment_select {
    width: 500px;
}

select.expense_select {
    width: 300px;
}

.payment_left {
    display: inline-block;
    min-width: 75px;
}

.payment_record_desc {
    width: 500px;
    max-width: 500px;
}

.payment_record_desc p {
    margin-bottom: 2px;
    margin-top: 2px;
}

.aid_subparagraph {
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: 0px;
}

.meal_summary {
    font-weight: bold;
}

.meal_total {
    text-align: right;
}

.meal_cell, .meal_header_name, .meal_total {
    width: 55px;
    max-width: 55px;
}

.phone_table_separator {
    width: 15px;
}

.personal_item {
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.personal_header {
    margin-bottom: 8px;
}
